div#about-panel
  - var about_info = theme.about_info;
  div.info
    .title= about_info.name
    a(class='url' href= config.url)= config.url
    .bio= about_info.bio
  img.avatar(src=about_info.avatar)

div#my-music
  iframe(src="https://embed.music.apple.com/cn/album/be-what-you-wanna-be/575895299?i=575895737", 
  sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation",
  allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;") 

div#friend-links-panel
  div.panel-title
    p= __('friend_link')
  - var friend_links = theme.friend_links;
  each link in friend_links
    a.link-item(href=link[2] target="_blank")
        div.link-container
          .site-name
            = link[0] 
          .site-desc= link[1]