mixin postInfo(item)
    .post-info
        != full_date(item.date, 'll')
        if item.from && (is_home() || is_post())
            a.post-from(href=item.from target="_blank" title=item.from) 翻译 · 原文地址

//- Index Page
mixin posts()
    .home.post-list
        - page.posts.each(function (item) {
            .post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    - var author = item.author == undefined ? __('author'): item.author
                    - var time = item.date == undefined ? '未知': full_date(item.date, 'll')    
                    .post-info 作者: #{author}         创建日期: #{time}
                    .post-content
                        != item.excerpt
                    br
                    a.read-more(href= url_for(item.path))!= __('more')
        - })

//- Archive Page
mixin postList()
    .archive
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change 
                h2.archive-year!= year
            .post-item
                +postInfo(item)
                a.post-title-link(href= url_for(item.path))
                    != item.title
        - })

//- Post Page
mixin post(item)
    if(page.type == 'categories')
        - var categoriesList = list_categories({ show_count: true})
        .archive
            h2 类别
            if categoriesList
                != categoriesList
            else
                p None.
    else if(page.type == 'tags')
        - var tagsList = list_tags({ show_count: true})
        .archive
            h2 标签
            if tagsList
                != tagsList
            else
                p None.
    else
        .post.article.post-block
            h1.post-title
                != item.title
            +postInfo(item)
            .post-content
                != item.content                  

//- Category Page

mixin category()
    .archive
        h2.name= page.category
        - page.posts.each(function(item){
            .post-item
                +postInfo(item)
                a.post-title-link(href= url_for(item.path))
                    != item.title
        - })


//- Tag Page
mixin tag()
    .archive
        h2.name= page.tag
        - page.posts.each(function(item){
            .post-item
                +postInfo(item)
                a.post-title-link(href= url_for(item.path))
                    != item.title
        - })
